.auth-container-bg{
    background: rgb(120,107,201);
    background: linear-gradient(180deg, rgba(120,107,201,1) 0%, rgba(32,24,76,1) 100%);
    color: white !important;
    /* background: linear-gradient(top,#786bc9,#20184c,100%) !important; */
    /* background-color: red; */
}

.inp{
    background: #4c3ab9;
    background: linear-gradient(130deg, #4c3ab9 0%, #221a53 100%);
    border:1px solid #f5f5f5;
    outline: none !important;
}

